@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Satoshi-Regular", sans-serif;
  src: url("../fonts/Satoshi-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: high-speed;
  src: url("../fonts/high-speed/High\ Speed.ttf");
  font-display: swap;
}

body,
html {
  overflow-x: hidden !important;
  background-color: black;
  font-family: "Satoshi-Regular", sans-serif !important;
}

.ff-high-speed {
  font-family: high-speed !important;
  text-transform: uppercase;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  /* FONT SIZES  */
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 20px;
  /* ignore 22 because of small gap in font-sizes */
  --font-lg: 24px;
  --font-xl: 40px;
  --font-2xl: 50px;
  --font-3xl: 80px;
  /* COLORS  */
  --white: #ffffff;
  --black: black;
  --orange: #CC4F19;
  --common-linear-gradient: linear-gradient(150.52deg, #CC1D19 -6.7%, #CC4F19 118.54%),
    linear-gradient(0deg, #D9D9D9, #D9D9D9);
}

.fw-400 {
  font-weight: 400 !important;
}

.font-xs {
  font-size: var(--font-xs) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

.font-3xl {
  font-size: var(--font-2xl) !important;
}

.white {
  color: var(--white) !important;
}

.black {
  color: var(--black) !important;
}

/* ================================================= COMMON CLASSES ============================================= */
.main-heading {
  font-size: var(--font-3xl);
  font-weight: 400;
  color: var(--white);
}

.heading {
  font-size: var(--font-2xl);
  font-weight: 400;
  color: var(--white);
}

.sub-heading {
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--red);
}

.para {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--white) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.common-btn {
  font-family: high-speed !important;
  font-size: var(--font-sm);
  color: var(--white);
  border: none;
  padding: 18px 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  position: relative;
  overflow: hidden;
  font-style: italic;
  min-width: 195px;
  min-height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 32px; */
  /* background: var(--common-linear-gradient); */
  /* clip-path: polygon(10% 0%, 92% 0%, 100% 20%, 90% 106%, 100% 100%, 8% 100%, 0% 82%, 7% 20%); */
  background-image: url("../images/png/button-clip-path-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
}

.common-btn:hover {
  color: var(--black) !important;
  opacity: .98;
}

.common-btn::after {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* background-color: white; */
  /* background-image: url("../images/png/button-clip-path-bg-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  overflow: hidden; */
}

.common-btn:hover::after {
  width: 100%;
}

.bg-common-gradient {
  background: var(--common-linear-gradient) !important;
}

/* ================================================= COMMON CLASSES ============================================= */
.hero-section {
  min-height: 100vh;
  background-image: url("../images/png/bg-hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradient-filled-text {
  background-image: url("../images/png/bg-gradient.png");
  background-repeat: no-repeat;
  background-size: 100% 93%;
  max-height: 83px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero-content {
  min-height: 90vh;
}

@media (min-width: 1600px) {
  .hero-car-img {
    margin-top: 48px;
  }
}

@media (max-width: 1599.98px) {
  :root {
    --font-3xl: 70px;
  }
}

@media (max-width: 1399.98px) {
  :root {
    --font-3xl: 50px !important;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-xs: 13px;
    --font-sm: 15px;
  }

  .common-btn {
    min-width: 180px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-3xl: 66px !important;
  }

  .common-btn {
    font-size: 22px;
    min-width: 300px;
  }

  .hero-car-img {
    margin-top: 48px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-3xl: 46px !important;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-3xl: 29px !important;
  }

  .hero-car-img {
    margin-top: 16px;
  }

  .hero-car-img img {
    transform: rotate3d(1, 1, 1, 352deg);
  }

  .common-btn {
    font-size: 18px;
    min-width: 240px;
  }

  .hero-content {
    min-height: 78vh;
  }

  .gradient-filled-text {
    padding-left: 14px;
    padding-right: 14px;

  }
}