@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@font-face {
  font-family: "Satoshi-Regular", sans-serif;
  src: url("../fonts/Satoshi-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: high-speed;
  src: url("../fonts/high-speed/High\ Speed.ttf");
  font-display: swap;
}

body,
html {
  overflow-x: hidden !important;
  background-color: black;
  font-family: "Satoshi-Regular", sans-serif !important;
}

.ff-high-speed {
  font-family: high-speed !important;
  text-transform: uppercase;
}

.ff-montserrat {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  /* FONT SIZES  */
  --font-xs: 14px;
  --font-sm: 16px;
  --font-md: 20px;
  /* ignore 22 because of small gap in font-sizes */
  --font-lg: 24px;
  --font-xl: 40px;
  --font-2xl: 50px;
  --font-3xl: 80px;
  /* COLORS  */
  --white: #ffffff;
  --black: black;
  --orange: #CC4F19;
  --common-linear-gradient: linear-gradient(150.52deg, #CC1D19 -6.7%, #CC4F19 118.54%),
    linear-gradient(0deg, #D9D9D9, #D9D9D9);
}

@media (max-width: 1599.98px) {
  :root {
    --font-3xl: 70px;
  }
}

@media (max-width: 1399.98px) {
  :root {
    --font-xl: 40px;
    --font-2xl: 40px !important;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --font-xs: 13px;
    --font-sm: 14px;
    --font-lg: 18px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-2xl: 40px !important;
    --font-3xl: 60px !important;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xl: 26px !important;
    --font-2xl: 36px !important;
    --font-3xl: 46px !important;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-sm: 13px;
    --font-2xl: 26px !important;
    --font-3xl: 33px !important;
  }
}

@media (max-width: 374.98px) {
  :root {
    --font-3xl: 24px !important;
  }
}

.fw-400 {
  font-weight: 400 !important;
}

.font-xs {
  font-size: var(--font-xs) !important;
}

.font-sm {
  font-size: var(--font-sm) !important;
}

.font-md {
  font-size: var(--font-md) !important;
}

.font-lg {
  font-size: var(--font-lg) !important;
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.font-2xl {
  font-size: var(--font-2xl) !important;
}

.font-3xl {
  font-size: var(--font-2xl) !important;
}

.white {
  color: var(--white) !important;
}

.black {
  color: var(--black) !important;
}

/* ================= COMMON CLASSES ======================= */
.main-heading {
  font-size: var(--font-3xl);
  font-weight: 400;
  color: var(--white);
}

.heading {
  font-size: var(--font-2xl);
  font-weight: 400;
  color: var(--white);
  line-height: 65px;
}

.sub-heading {
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--red);
}

.para {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--white) !important;
  line-height: 174%;
}

.cursor-pointer {
  cursor: pointer;
}

.common-btn {
  font-family: high-speed !important;
  font-size: var(--font-sm);
  color: var(--white);
  border: none;
  padding: 18px 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  font-style: italic;
  min-width: 195px;
  min-height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 32px; */
  /* background: var(--common-linear-gradient); */
  /* clip-path: polygon(10% 0%, 92% 0%, 100% 20%, 90% 106%, 100% 100%, 8% 100%, 0% 82%, 7% 20%); */
  /* position: relative; */
  background-image: url("../images/png/button-clip-path-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
}

.common-btn:hover {
  color: var(--black) !important;
  opacity: .98;
}

.common-btn::after {
  content: " ";
  width: 0;
  height: 100%;
  position: absolute;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* background-color: white; */
  /* background-image: url("../images/png/button-clip-path-bg-white.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  overflow: hidden; */
}

.common-btn:hover::after {
  width: 100%;
}

.bg-common-gradient {
  background: var(--common-linear-gradient) !important;
}

.z-index-0 {
  z-index: 0;
}

.z-index-minus-one {
  z-index: -1;
}

.z-index-5 {
  z-index: 5;
}

/* ================= HERO CSS STARTS =========================== */
.hero-section {
  min-height: 100vh;
  background-image: url("../images/png/bg-hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gradient-filled-text {
  background-image: url("../images/png/bg-gradient.png");
  background-repeat: no-repeat;
  background-size: 100% 93%;
  max-height: 83px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero-content {
  min-height: 90vh;
}

.traced-img {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12.31%, #000000 100%);
}

.traced-img a {
  color: transparent;
}

.traced-img a img {
  max-width: 40px;
}

.drivesfn-text-img {
  left: 20px;
  top: 18%;
}

/* ================= WHY driveSFN CSS STARTS ============= */
.why-driveSFN-bg {
  background-image: url("../images/png/why-driveSFN-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 800px;
  z-index: 1;
}

.why-sfn-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(58.9096px);
  border-radius: 16px;
  cursor: pointer;
  min-height: 339px;
  max-height: 100%;
  height: 100%;
}

.why-sfn-card:hover {
  background: linear-gradient(150.52deg, #CC1D19 -6.7%, #CC4F19 118.54%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.why-sfn-card:hover svg path {
  fill: var(--white);
}

.why-sfn-card div {
  backdrop-filter: blur(-1);
}

.why-sfn-card div h4 {
  line-height: 38px;
}

.steerin-wheel-img {
  right: 0;
  top: -50px;
}

/* ================= OUR MOTIVATION CSS STARTS =========== */
.bg-motivation {
  background-image: url("../images/png/our-motivation-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

.motivation-content {
  margin-top: 90px;
}

.motivation-mobile-img {
  max-width: 746px;
  left: 0;
}

.exhaust-img {
  bottom: 10px;
  right: 45px;
}

/* ================= BENEFITS POINTS CSS STARTS=========== */
.points-box {
  padding: 45px 34px;
  border-radius: 16px;
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(150.52deg, #CC1D19 -6.7%, #CC4F19 118.54%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  border: 1px solid var(--orange);
  backdrop-filter: blur(58.9096px);
}

.token-card {
  background: linear-gradient(150.52deg, #CC1D19 -6.7%, #CC4F19 118.54%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  border-radius: 16px;
}

.custom-border-top-bottom {
  border-top: 1px solid var(--white);
}

.token-card-2 {
  background: #EB8007;
}

.token-heading {
  min-height: 90px;
}

/* ================= PRELOADER CSS ======================= */
#loading {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background: var(--black);
  z-index: 100;
  overflow-x: hidden !important;
  z-index: 22;
}

.loading-img {
  min-height: 100vh;
}

#loading img {
  -webkit-animation: loader-animation 2s ease infinite;
  animation: loader-animation 2s ease infinite;
}

.transition-03sEase {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hide-down-arrow {
  opacity: 0;
}

@-webkit-keyframes loader-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loader-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* BACK TO TOP  */
#scroll {
  width: 55px;
  height: 55px;
  position: fixed;
  z-index: 21;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.09);
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
  background-color: orangered;
  background-image: url("../images/svg/up-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: moves 3s ease-in-out infinite;
  animation: moves 3s ease-in-out infinite;
}

#scroll:hover {
  -webkit-box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes moves {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes moves {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (min-width: 1600px) {
  .hero-car-img {
    margin-top: 48px;
  }

  .motivation-mobile-img {
    left: 80px;
  }
}

@media (min-width: 1400px) and (max-width: 1499.98px) {
  .custom-container {
    max-width: 1210px !important;
  }
}

@media (max-width: 1399.98px) {
  .motivation-mobile-img {
    max-width: 700px;
  }

  .exhaust-img {
    max-width: 270px;
  }

  .drivesfn-text-img {
    max-height: 440px;
  }
}

@media (max-width: 1299.98px) {
  .motivation-content {
    margin-top: 40px;
  }

  .motivation-mobile-img {
    max-width: 660px;
  }

  .exhaust-img {
    max-width: 182px;
    right: 0px;
  }
}

@media (max-width: 1199.98px) {
  .common-btn {
    min-width: 180px;
  }

  .motivation-mobile-img {
    display: none;
  }

  .visible-motivation-img {
    visibility: visible !important;
  }

  .visible-motivation-img img {
    max-width: 462px;
  }

  .bg-motivation {
    background-size: 100% 100%;
    min-height: 660px;
  }

  .engine-img {
    bottom: -40px;
  }

  .drivesfn-text-img {
    left: 0px;
  }

  .heading {
    line-height: 52px;
  }

  .why-driveSFN-bg {
    background-image: unset;
  }

  .points-box {
    padding: 34px;
  }

  .token-heading {
    min-height: 80px;
  }
}

@media (max-width: 991.98px) {
  .common-btn {
    font-size: 22px;
    min-width: 300px;
  }

  .hero-car-img {
    margin-top: 48px;
  }

  .why-sfn-card {
    min-height: unset;
  }

  .bg-motivation {
    background-image: none;
  }

  .visible-motivation-img {
    margin-bottom: -40px;
  }

  .motivation-content {
    margin-top: 0px;
  }

  .engine-img {
    display: none;
  }

  .exhaust-img {
    display: none;
  }

  .steerin-wheel-img {
    display: none;
  }

  .hero-content {
    min-height: 80vh;
  }

  .visible-motivation-img img {
    max-width: unset;
  }
}

@media (max-width: 575.98px) {
  /* .hero-car-img img {
    transform: rotate3d(1, 1, 1, 352deg);
  } */

  .common-btn {
    font-size: 10px;
    min-width: 125px;
    min-height: 33px;
    max-height: 33px;
  }

  .hero-content {
    min-height: 78vh;
  }

  .gradient-filled-text {
    padding-left: 14px;
    padding-right: 14px;
  }

  #loading img {
    max-width: 110px;
  }

  .traced-img {
    bottom: -27px;
  }

  .traced-img a img {
    max-width: 18px;
  }

  .heading {
    line-height: unset;
  }

  .para {
    line-height: unset;
  }

  .why-sfn-card div h4 {
    line-height: unset;
  }

  .steerin-wheel-img img {
    max-width: 85px;
  }

  .engine-img {
    max-width: 120px;
  }

  .points-box {
    padding: 34px 24px;
  }

  .drivesfn-text-img {
    max-height: 230px;
    left: 0px;
    top: 22%;
  }

  .logo-img {
    max-width: 114px;
  }

  .hero-car-img {
    margin-top: 28px;
  }

  .hero-section {
    background-image: url("../images/png/hero-mobile-bg.png");
  }

  #scroll {
    width: 45px;
    height: 45px;
  }
}